name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:

  build:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build image
        run: docker build -t bryansanders/portfolio .
      - name: Push image
        run: |
          docker login -u bryansanders -p ${{secrets.REGISTRY_PASS}}
          docker push bryansanders/portfolio